header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  background-color: #184a6f;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 60%, var(--primary-color)),
    url("../../bariloche.webp");
  background-position: center;
  color: white;
  background-size: cover;
  padding: 100px 20%;
  height: 400px;

  h1,
  h3,
  h5 {
    font-family: "Playfair Display", sans-serif;
    z-index: 100;
  }

  h1 {
    line-height: 1.2;
    font-size: 36px;
    width: fit-content;
  }

  h3 {
    font-style: italic;
    font-size: 1rem;
    margin-top: 16px;
  }
}

/* Snowflakes container */
.snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Prevent interaction with snowflakes */
}

/* Individual snowflake */
.snowflake {
  position: absolute;
  top: -10px; /* Start above the header */
  /* background-color: white; */
  background-image: url("../../assets/snowflake.webp");
  background-size: cover;
  border-radius: 50%;
  opacity: 0.8;
}
