:root {
  --primary-color: #222831;
  --secondary-color: #98b8c6;

  --border-radius-value: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  /* width: 100vw; */
  text-align: center;
}

main {
  color: white;
  background-color: var(--primary-color);
  padding-top: 12px;
  padding-bottom: 12px;

  h3 {
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
  }
}

footer {
  padding: 12px;
  background-color: #1a1a1a;
}

@media (min-width: 576px) {
  .carousel-thumbs__slide {
    flex: 0 0 15%;
  }
}
