* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  text-align: center;
  padding: 1rem;
}

.embla {
  overflow: hidden;
}

.embla__viewport {
  margin-top: 1rem;
  position: relative;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
}

.embla__slide img {
  border-radius: 0.75rem;
  max-width: 80vw;
}

.embla-navigation-button {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 40%;
}

.embla-navigation-button:focus {
  outline: none;
}

.embla_prev_button {
  left: 5%;
}

.embla_next_button {
  right: 5%;
}

.embla-thumbs__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 1rem 0 1rem;
  gap: 0.5rem;
}

.embla-thumbs-button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 0;
}

.embla-thumbs-button img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}
