:root {
  --primary-color: #edc7b7;
  --secondary-color: #fff6ef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  text-align: center;
}

header {
  background-color: var(--primary-color);
  /* color: black; */
  padding: 1rem;
  padding-bottom: 0;

  h1,
  h3,
  p {
    font-family: "Playfair Display", sans-serif;
  }

  h3 {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}

main {
  background-color: var(--secondary-color);
  /* padding: 1rem; */
}

footer {
  background-color: var(--primary-color);
}

@media (min-width: 576px) {
  .carousel-thumbs__slide {
    flex: 0 0 15%;
  }
}
