div.cottage-selector {
  @supports not ((contain: paint) and (not (-moz-appearance: none))) {
    /* CSS rules here will apply to all browsers except Chromium-based browsers */
    position: sticky;
    top: 0;
    border: 1px solid red;
    z-index: 1000;
  }
}

.p-dropdown {
  background-color: var(--secondary-color);
  color: black;
  padding: 6px 12px;
  border-radius: 6px;
}

.p-dropdown-label {
  margin-right: 0.5rem;
}

.p-dropdown-items {
  background-color: var(--secondary-color);
  color: black;
  border-radius: 6px;

  .p-dropdown-item {
    padding: 2px 12px;
    border-radius: 12px;
    cursor: pointer;
    &:hover {
      background-color: var(--primary-color);
    }
  }

  .p-highlight {
    background-color: var(--primary-color);
  }
}
