.p-dropdown {
  background-color: var(--secondary-color);
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.p-dropdown-label {
  margin-right: 0.5rem;
}

.p-dropdown-items {
  padding: 0 0.5rem;
  background-color: var(--secondary-color);
  color: black;
  border-radius: 0.5rem;
}
